.container {
  width: 40%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

.input,
.textarea,
.button {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px 0;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
.caja {
  display: flex;
  gap: 20px;
}
.caja2 {
  width: 50%;
}
